@model HappyPetsRescue.Models.AdoptPetViewModel

@{
    ViewBag.Title = "AdoptionsPage";
}

<style>
    .box {
        width: 120px;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        color: Black;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 4px 4px #6F4914;
    }

    p {
        padding: 0px;
        margin: 1px;
        font-family: Calibri;
    }

    h1 {
        text-align: center;
        color: #6F4914;
        font-weight:bold;
    }

    h3 {
        color: #31210B;
        font-weight: bold;
    }

    label {
        font-size: 17px;
        font-weight: bold;
        color: #6F4914;
    }

    input {
        font-size: 17px;
    }

    option {
        font-size: 17px;
    }
    
    .pet-img {
        border:10px solid #ff8200;
        width: 500px;
        height: 500px
    }

    button {
        font-size: 16px;
        position: relative;
        margin: auto;
        padding: 1em 2.5em 1em 2.5em;
        border: none;
        background: Black;
        transition: all 0.1s linear;
        box-shadow: 10px 5px 5px #6F4914;
    }

        button:active {
            transform: scale(0.95);
        }

        button span {
            color: white;
            font-weight: bold;
        }

        button .border {
            position: absolute;
            border: 0.15em solid #f7f7f7;
            transition: all 0.3s 0.08s linear;
            top: 50%;
            left: 50%;
            width: 3em;
            height: 3em;
            transform: translate(-50%, -50%);
        }

        button:hover .border {
            display: block;
            width: 10.7em;
            height: 3.8em;
        }

    .full-rounded {
        border-radius: 2em;
    }

</style>

<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="col text-center">
            <h1 style="font-family: Brush Script MT, cursive;"><b> Hello, I am @Model.selectedPet.PetName!</b></h1>
            <img src="~/Images/Pets/@Model.selectedPet.PetImage" alt="@Model.selectedPet.PetName" class="pet-img">
        </div>
        <div class="col">
            <h1 style="font-family: Brush Script MT, cursive;"><b> @Model.selectedPet.PetName's Profile</b></h1>
            <p>Age: @Model.selectedPet.PetAge</p>
            <p>Weight: @Model.selectedPet.PetWeight kg</p>
            <p>Gender: @Model.selectedPet.Gender.GenderName</p>
            <p>Currently Located: @Model.selectedPet.Location.LocationName</p>
            <h3 style="font-family: Brush Script MT, cursive;">My Story</h3>
            <p>@Model.selectedPet.PetStory</p>
            <br />
            <h3 style="font-family: Brush Script MT, cursive;">Would love to adopt @Model.selectedPet.PetName?</h3>
            <p>Enter your details below:</p>
            @using (Html.BeginForm("AdoptionsPage", "Pet", FormMethod.Post))
            {
                <input type="hidden" id="petID" name="petID" value="@Model.selectedPet.PetID">
                <div class="mb-3">
                    <label for="userName">Select User:</label>
                    <br />
                    <select id="userName" name="userName" class="box" style="width:75%">
                        <option value="">Select full name</option>
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.UserID">@user.UserFullName</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="userPhoneNo">Select Phone Number:</label>
                    <br />
                    <select id="userPhoneNo" name="userPhoneNo" disabled class="box" style="width:75%">
                        <option value="">Select phone number</option>
                    </select>
                </div>
                <hr />
                <button type="submit" class="full-rounded">
                    <span>Adopt @Model.selectedPet.PetName</span>
                    <div class="border full-rounded"></div>
                </button>
            }
        </div>
    </div>
    
</div>

<script>
    $("#userName").change(function () {
            var userID = $(this).val();
            if (userID) {
                $.get('@Url.Action("GetUserPhoneNumber", "Pet")', { userID: userID })
                    .done(function (data) {
                        var userPhoneNumbers = data.split(";")[0].split(",");
                        var userIds = data.split(";")[1].split(",");
                        var users = [];
                        for (var i = 0; i < userPhoneNumbers.length; i++) {
                            users.push({ id: userIds[i], name: userPhoneNumbers[i] });
                        }

                        var phomeDropdown = $("#userPhoneNo");
                        phomeDropdown.empty();
                        phomeDropdown.append($("<option></option>").val("").text("Select phone number"));
                        $.each(users, function (i, user) {
                            phomeDropdown.append($("<option></option>").val(user.id).text(user.name));
                        });//close each function
                        phomeDropdown.prop("disabled", false);
                    });//close done function
            } else {
                $("#userPhoneNo").empty().append($("<option></option>").val("").text("Select phone number")).prop("disabled", true);
                //Location.prop("disabled", true);
            }
        }); //close supplier change function

</script>